
  <section>
    <div class="hc-results-actions-wrapper card-fixed">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, 'What is your email address?'%>
      <%= f.email_field :email, class: 'form-control' %>


      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
    </div>
  </section>
