<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The following user <%= @user.name %> completed a survey and requested a Healtcheck Report!</h1>
    <p></p>
  </body>
</html>