<div class="container">
	<h2> Thank you for your interest in Sophity. </h2>
	<h2> We are preparing to send the detailed report to the provided email address! </h2>
	<h2>
		<%= link_to "Download Report", download_path(@user, :format => 'pdf'), :style=> 'text-decoration:none;', class: "clickable" %>
	</h2>

</div>