<footer class="footer">
  <div class="hc-footer">
  <div class="hc-copyright">
    <p class="text-muted">
      © 2017 Sophity All rights reserved. Developers:
      <%= link_to 'Andra Stanciu', 'http://www.andrastanciu.com', target: '_blank' %> +
      <%= link_to 'Sam Nolting', 'http://www.samnolting.com', target: '_blank' %>
    </p>
  </div>
</div>
</footer>
